./db_grafana/data
./grafana/data
./TASK-2/data
./TASK-3/data
./TASK-5/data
./TASK-7/mysql

**/data/
**/pdf/
**/png/
**/csv/
**/unified-search/
**/postgres/
**/postgres-data/
**/influxdb/data/
**/influxdb/wal/
*.log
./.env.env
*.env
/TASK-9/logs
*.etc
TASK-10/loki-data/